$bp-fullhd: 1920px;
$bp-laptop-l: 1600px;
$bp-laptop-m: 1440px;
$bp-laptop-s: 1368px;
$bp-hd: 1280px;
$bp-desktop: 1160px;
$bp-tablet-l: 960px;
$bp-tablet-m: 768px;
$bp-mobile-m: 550px;
$bp-mobile-s: 480px;
