.facts {
    margin-top: 100px;
    width: 100%;
    background-color: #95e1d3;

    .container {
        display: flex;
        justify-content: space-between;
        border-left: 1px solid rgba(255, 255, 255, .3);
    }

    &__block {
        padding: 90px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(255, 255, 255, .3);
        
        flex-grow: 2;
    
        &-count {
            margin-bottom: 30px;
            color: #fff;
            font-family: "Montserrat";
            font-size: 70px;
            font-weight: 700;
        }

        &-name {
            font-family: "Montserrat";
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    @media screen and (max-width: $bp-tablet-l){
        .container {
            flex-direction: column;
            border-left: none;
        }

        &__block {
            padding: 20px 0;
            border-right: none;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
    }
}