.footer {
    padding-top: 75px;
    background: #f8f8f8;

    .container {

    }

    &__contacts {
        width: 100%;
        display: flex;
        justify-content: space-between;


    }

    &__main {
        width: 38.181818182%;
        position: relative;

        &-title {
            color: #cccccc;
            font-family: Montserrat;
            font-size: 46px;
            font-weight: 700;
            margin-bottom: 40px;

        }

        &-text {           
            color: #999999;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 50px;
        }

        &-followers {
            color: #333333;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 18px;

            &-text {
                display: inline-block;
            }

            span{
                font-size: 18px;
                font-weight: 700;   
                display: inline-block;    
            }
        
        }

        &-string {
            width: 100%;
            height: 1px;
            background: #e5e5e5;
            margin-bottom: 15px;
        }

        &-links {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 35px;

            &-text {
                color: #999999;
                font-family: "Roboto - Light Italic";
                font-size: 15px;
                vertical-align: middle;
                line-height: 24px;
            }

            &-block {
                margin-left: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &-link {
                    margin-right: 15px;

                    svg {
                        width: 17px;
                        height: 17px;
                        fill: #95e1d3;
                    }

                    &:hover {
                        cursor: pointer;

                        svg {
                            transform: scale(1.2);
                            fill: #000;
                            transition: fill transform ease .5s;
                        }
                    }
                }
            }
        }

        &-subscribe {
            width: 82.034632035%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 70px;

            input {
                height: 100%;
                width: 60%;
                color: #cccccc;
                font-family: "Roboto - Light Italic";
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                outline: none;
                background: #fff;
                border: 1px solid #e7e7e7;
                padding: 13px;
            }

            &-button {
                width: 40%;
                height: 100%;
                background: #95e1d3;
                line-height: 40px;
                text-align: center;
                color: #fff;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                    font-size: 15px;
                    transition: font-size ease .4s;
                }
            }
        }
    }

    &__blogs {
        width: 27.520661157%;
        padding-top: 15px;
        position: relative;

        &-title {
            color: #333333;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        &-block {
            width: 100%;

            &-blog {
                width: 100%;
                display: flex;
                justify-content: space-between; 
                align-items: center; 
                margin-bottom: 30px; 

                &-pic {
                    width: 35.735735736%;
                }

                &-content {
                    width: 58.258258258%;

                    &-text {
                        color: #333333;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        text-transform: uppercase;
                    }

                    &-date {
                        color: #999999;
                        font-family: "Roboto - Light Italic";
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;

                    }
                }
            }
        }
    }
    
    &__instagram {
        width: 22.148760331%;
        padding-top: 15px;
        position: relative;

        &-title {
            color: #333333;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        &-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            position: relative;
            margin-bottom: 20px;

            &-pic {
                width: 32.835820896%;
            }

        }

        &-link {
            position: relative;

            a {
                color: #333333;
                font-family: "Roboto - Light Italic";
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}