.header {
  z-index: 30;
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  line-height: 80px;
  &.fixed {
    height: 60px;
    line-height: 60px;
    background: rgba(243, 129, 129, 0.85);
    transition: all .3s;
    width: 100%;

    .header__burger {
      top: 8px;
      transition: .3s
    }
  }

  .container {
      display: flex;
      justify-content: space-between
  }

  &__logo {
      font-size: 30px;
      color: #fff;
      font-weight: 700;
      font-family: Montserrat;
  }

  &__refs {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    height: 100%;
    width: 52.561983471%;
    position: relative;
    z-index: 20;

    &-nav {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 68.553459119%;
      
      a {
          display: inline-block;
          font-size: 14px;
          vertical-align: middle;
          font-family: Montserrat;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
      }
  
    }
    
    &-icons{
      width: 14.779874214%;
      display: flex;
      justify-content: space-between;
  
      &-cart {
          cursor: pointer;
      }

      &-scope {
          cursor: pointer;
      }
    }

  }

  

  &__burger {
    display: none;
    position: fixed;
    top: 25px;
    right: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 40;
    padding: 5px;

    div {
      display: block;
      margin: 6px ;
      width: 20px;
      height: 3px;
      background: #f38181;
    }
  }

  @media screen and (max-width: $bp-tablet-l){
    
    &__logo {
      position: fixed;
      left: 30px;
      text-shadow: 3px 3px 5px #f38181;
      z-index: 40;
    }
    
    &__refs {
      position: fixed;
      left: 0;
      top: -100%;
      width: 100%;
      height: inherit;
      background: rgba(243, 129, 129, 0.85);
      // box-shadow: 0 0 200px 80px rgba(243, 129, 129, 0.85);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      transition: top  .6s;
      padding: 80px 0;
      
    
      &.active {
        top: 0;
        transition: top  .3s;
      }

      &-nav, &-icons {
        flex-direction: column;
        width: 100%;
        align-items: center;
        
        
        a, div {
          padding: 15px 0;
          line-height: 14px;

          // border-bottom: 1px solid #fff;
        }
      }
    }

    &__burger {
      display: block;
    }
  }
}