.header {

  * {
    overflow-x: hidden;
    overflow: visible;
  }

  .container {
      display: flex;
      justify-content: space-between
  }

  &__logo {
      font-size: 30px;
      color: #fff;
      font-weight: 700;
      padding: 28px 0;
      font-family: Montserrat;
  }

  &__refs {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    height: 100%;
    width: 52.561983471%;
    position: relative;
    z-index: 20;

    &-nav {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 68.553459119%;
      
      a {
          display: inline-block;
          font-size: 14px;
          vertical-align: middle;
          font-family: Montserrat;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
      }
  
    }
    
    &-icons{
      width: 14.779874214%;
      display: flex;
      justify-content: space-between;
  
      &-cart {
          cursor: pointer;
      }

      &-scope {
          cursor: pointer;
      }
    }

  }

  

  &__burger {
    display: none;
  }

  @media screen and (max-width: $bp-tablet-l){
    &__refs {
      position: fixed;
      left: 0;
      width: 100%;
      overflow-x: hidden;
      overflow: visible;
      background: rgba(243, 129, 129, 0.85);
      // box-shadow: 0 0 200px 80px rgba(243, 129, 129, 0.85);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    
      &-nav, &-icons {
        flex-direction: column;
        width: 100%;
        align-items: center;
      } 

      &-nav {

        a {
          padding: 10px 0;
          border-bottom: 1px solid #fff;
        }
      }

      &-icons {

        &-cart, &-scope {
          padding: 10px 0;
          border-bottom: 1px solid #fff;
        }
      }

    }
  }
}