.service {
    padding-top: 110px;

    .container {

    }

    &__heading {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #333333;
        font-family: "Kaushan Script";
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #333333;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__string {
        margin: 0 auto;
        width: 60px;
        height: 3px;
        background: #f38181;
        margin-bottom: 45px;
    }

    &__description {
        margin: 0 auto;
        width: 78.842975207%;
        color: #999999;
        font-family: Roboto;
        font-size: 15px;
        margin-bottom: 90px;
        text-align: center; 
    }

    &__info {
        display: flex;
        justify-content: space-between;
        
        &-pic {
            width: 47.107438017%;
        }

        &-column {
            width: 49.58677686%;
        
            &-block {
                border: 1px solid #e5e5e5;
                border-bottom: none;
                position: relative;

                &.active {
                    // background: #ccc;

                    .service__info-column-block-header {
                        border-bottom: 1px solid #e5e5e5;
                    }

                    .service__info-column-block-content {
                        overflow-y: scroll;
                        height: 200px;
                        padding: 15px;
                    }
                }
                
                &-header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 60px;
                    padding: 15px;

                    &-icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                        overflow: visible;
                    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &-name {
                        color: #333333;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }

                &-content {
                    overflow: hidden;
                    height: 0;
                    transition: .3s;
                    color: #999999;
                    font-family: Roboto;
                    font-size: 18px;
                    line-height: 21px;
                }
            
                &:last-of-type {
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }

    @media screen and (max-width: $bp-desktop) {

        &__info {
            flex-direction: column;
            align-items: center;

            &-pic {
                width: 100%;
                text-align: center;
            }

            &-column {
                width: 100%;
                max-width: 570px;
            }
        }
    }
}
